<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"/>
    <style>

    </style>
</head>
<body>
    <!--ng-app管理整个div,如果引号不为空，则认为是指定的是自定义的该模块,则是由myApp这个来管理这个模块。如果为空，也是一个模块-->
   <div ng-app="myApp">
       <div ng-controller="firstController">
           <!--{{data}}-->
            <ul>
                <li ng-repeat="user in data | filterAge">   <!--以age过滤-->
                <!--<li ng-repeat="user in data | filterCity">-->  <!--以city过滤-->
                    {{user.name}}
                    {{user.age}}
                    {{user.city}}
                </li>
            </ul>
       </div>
   </div>
<script type="text/javascript" src="../js/angularjs.js"></script>
<script type="text/javascript" src="index.js"></script>

</body>
</html>