<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="../../js/angularjs.js"></script>
    <script src="../../js/ngStorage.js"></script>
    <script>
        var eS = angular.module('exampleStore', ['localStorage']);

        eS.controller('MainCtrl',['$scope','$store',function($scope, $store) {
            $store.bind($scope, 'test', 'Some Default Text');

            $scope.clearTest = function(){
                $store.remove('test');
            };
        }]);

    </script>
</head>

<body>
<div ng-app="exampleStore">
    <div ng-controller="MainCtrl">
        <p>{{test}}</p>
        <label>Local Storage Bound:</label> <input type="text" ng-model="test">
        <a ng-click="clearTest()">Clear Value from LC</a>
        <p><i>Change the value in the textbox and refresh the page!</i></p>
    </div>
</div>
</body>

</html>

